.popup__save{
    background-color: #000;
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 358px;
    min-height: 50px;
    border-radius: 2px;
    border: none;
}

.popup__save:hover{
    opacity: 0.8;
    cursor: pointer;
}

@media all and (max-width:600px) {
    .popup__save{
        width: 238px;
        min-height: 46px;
    }
}