.popup__close{
    background-color: transparent;
    background-image: url(../../../images/Plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    right: -40px;
    top: -40px;
    padding: 0;
}

.popup__close:hover{
    opacity: 0.6;
    cursor: pointer;
}

.popup__close:active{
    outline: none;
}

@media all and (max-width:600px) {
    .popup__close{
        background-size: 26px;
        right: 0;
        top: -39.62px;
        width: 26px;
        height: 26px;
    }
}
