.profile__author{
    display: flex;
    align-self: flex-start;
    /* justify-content: center; */
}

@media all and (max-width:899px){
    .profile__author{
        width: 100%;
        align-self: center;
        align-content: center;
        justify-content: center;
    }
}